<!DOCTYPE html>
<html>
  <head>
    <%# <%= favicon_link_tag asset_path('#') %>
    <title>Project ReMAKE</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.original_url %>">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar">
      <div class="navbar-logo">
        <a href="#">
          <img src="https://res.cloudinary.com/difj9msh3/image/upload/c_scale,w_85/v1689969478/Screenshot_2023-07-21_at_20.57.36_mcxxds.png" alt="Logo">
        </a>
      </div>
       <div class="navbar-brand">
        <a href="#" class="navbar-project"></a>
      </div>
      <div class="navbar-links">
        <a href="#" class="navbar-link">Entrepreneurs</a>
        <a href="#" class="navbar-link">Educational</a>
      </div>
      <div class="navbar-dropdown">
        <button class="dropdown-toggle">Menu</button>
      <div class="dropdown-menu">
        <a href="#" class="dropdown-item">Testimonial</a>
        <a href="#" class="dropdown-item">About Us</a>
        <a href="#" class="dropdown-item">Login</a>
      </div>
      </div>
    </nav>


    <%= yield %>

    <footer class="footer">
      <div class="social-links">
        <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer">
          <img src="youtube-logo.png" alt="YouTube">
        </a>
        <a href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer">
          <img src="linkedin-logo.png" alt="LinkedIn">
         </a>
      </div>
    </footer>

  </body>
</html>
